{% extends 'pe_3_app/base.html' %}

{% block contenido %}

    <h1> Pre Entrega </h1>

    <h1> Alta y Listado de Profesores </h1>
    <button><a href="{% url 'profesor_create'%}">Crear Profesores</a></button>
    <button><a href="{% url 'profesor_list'%}">Ver Profesores</a></button>

    <h1> Alta y Listado de Alumnos </h1>
    <button><a href="{% url 'alumno_create'%}">Crear Alumnos</a></button>
    <button><a href="{% url 'alumno_list'%}">Ver Alumnos</a></button>

    <h1> Alta y Listado de Curso </h1>
    <button><a href="{% url 'curso_create'%}">Crear Cursos</a></button>
    <button><a href="{% url 'curso_list'%}">Ver Cursos</a></button>

{% endblock contenido %}
